@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
#root {
  overflow-x: hidden;
  overflow-y: hidden;
}
.header__content {
  position: relative;

  scroll-behavior: unset;
}
.header__content img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.header__content__nav {
  width: 100%;
}
.header__content__img {
  left: 0;
  right: 0;
  position: absolute;
  top: 5%;
  text-align: center;
}
.header__content__img img {
  width: 700px;
  height: 700px;
}
.header__content__nav_color::before {
  content: "";
  top: 0;
  background-color: red($color: #000000);
  z-index: 1;
  position: absolute;
  left: 0%;
  width: 120px;
  height: 120px;
}
.header__content__nav__heading {
  font-size: 33px;
  font-weight: 600;
  padding-top: 0.4em;
  display: flex;
  align-items: center;
}
.header__content__nav__heading span {
  font-weight: 300;
}
.header__buttons {
  height: 70px;
  padding: 15px 12px;
  border: 1px solid transparent;
  border-bottom-right-radius: 30px;
  font-weight: 600;
  margin-right: 6px;
  background-color: transparent;
  color: white;
  text-decoration: none;
}
.header__buttons:hover {
  background-color: #a58838;
}
.header__content__content__nav__components
  ~ .header__buttons:checked
  .header__buttons:hover {
  background-color: #a58838;
}
.header__content__content__nav__main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  color: white;
  padding: 2em;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 0em;
  align-items: center;
  z-index: 9999;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.nav__background {
  background-color: #a58838;
  border-top-right-radius: 50px 29px;
  height: 30px;
  width: 250px;
}
.header__content__header__heading {
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: 36%;
  text-align: center;
  width: 100%;
  color: white;
}
.header__content__header__heading span {
  font-weight: 300;
}
.header__content__header__sub__heading {
  font-size: 33px;
  font-weight: 500;
  position: absolute;
  top: 46%;
  text-align: center;
  width: 100%;
  color: white;
}

//second section//
.introduction__section__right__weaper__svg_pic {
  width: 100%;
  height: 350px;
}
.introduction__section__right__weaper__svg img {
  width: 100%;
  height: 350px;
}

.introduction__section {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.introduction__section__left__weaper {
  width: 50%;
}

.introduction__section__left__weaper_heading {
  font-size: 33px;
  font-weight: 600;
  padding: 20px 0px;
  position: relative;
}
.introduction__section__left__weaper_heading::before {
  width: 215px;
  content: "";
  z-index: -999;
  bottom: 19px;

  position: absolute;
  background-color: #a58838;
  height: 22px;
}

.introduction__section__left__weaper_para {
  width: 70%;
}

.long__distance__first__mian {
  display: flex;
  align-items: center;
  font-size: 33px;
  border: 1px solid #000;
}

@media (max-width: 960px) {
  .introduction__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
  .introduction__section__left__weaper_para {
    width: 100%;
  }
  .introduction__section__left__weaper {
    width: 80%;
  }
  .introduction__section__right__weaper__svg_pic {
    padding: 0em 2em;
  }
  .project__specifiactions {
    flex-direction: column;
  }
  .project__specifiactions__left__wrapper {
    width: 100%;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

//

.project__specifiactions {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: transitionIn 0.95s;
  padding: 2em;
  padding-top: 0;
}

.project__specifiactions__left__wrapper {
  display: flex;
  width: 55%;
  align-items: center;
  flex-wrap: wrap;
}
.project__specifiactions__right__wrapper {
  width: 50%;
}
.project__specifiactions__left__wrapper_content {
  display: flex;
  width: 50%;
  align-items: center;
  padding: 3em 0em;
}

.project__specifiactions__left__wrapper_content_right_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
}
.project__specifiactions__left__wrapper_content_svg img {
  height: 50px;
}
.project__specifiactions__left__wrapper_content_right_content_heading {
  margin-bottom: 2px;
}
.project__specifiactions__left__wrapper_content_right_content_para {
  background-color: #a58838;
  width: fit-content;
  color: #ffff;
}
.project__specifiactions__right__wrapper__back {
  background-color: red($color: #000000);
}
.project__specs__boxes {
  width: 30%;
}
.project__specs__boxes__border {
  border: 1px solid #d1cfcf;
  border-top-right-radius: 80px;
  height: 290px;
  position: relative;
  width: 75%;
}
.project__specs__boxes__dark {
  background: #bc993d;
  border-top-right-radius: 80px;
  font-size: 30px;
  font-weight: 600;
  height: 290px;
  left: -17px;
  position: absolute;
  text-transform: uppercase;
  top: 14px;
  width: 100%;
  z-index: 100;
}
.project__specs__heading {
  align-items: flex-end;
  color: #fff;
  display: flex;
  height: 93%;
  padding-left: 1em;
  width: 85%;
}
.ibt__contant__nav {
  display: none;
}
@media (max-width: 1300px) {
  .project__specs__boxes {
    width: 35%;
  }
  .intro__container__content__heading {
    width: 85% !important;
    margin: 0 !important;
  }
  .project__locations__cards__container {
    margin-left: 0em !important;
  }
  .location__cards__main__ccontainer {
    display: flex;
    justify-content: unset !important;
    width: 100%;
    margin-left: 1.5em;
  }
  .project__locations__cards__container {
    width: 50% !important;
  }
}

@media (max-width: 1100px) {
  .project__specs__boxes {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .ibt__contant__nav {
    display: flex;
    background-color: #a58838;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  .header__content__content__nav__components {
    top: 4em;
    right: 0;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 330px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 960px) {
  .project__specs__boxes {
    width: 45%;
  }
  .project__specifiactions__left__wrapper {
    padding: 1em;
    width: 77%;
  }
  .project__specs__boxes {
    width: 70%;
  }
  .project__specifiactions {
    align-items: flex-start;
  }
}
@media (max-width: 960px) {
  .project__specifiactions__left__wrapper {
    width: 100%;
    padding-left: 2em;
    flex-direction: column;
    align-items: flex-start;
  }
  .project__specs__boxes {
    margin-left: 3em;
  }
  .project__specifiactions__left__wrapper_content {
    padding: 1em 0em;
  }
}
@media (max-width: 560px) {
  .project__specs__boxes {
    width: 100%;
  }

  .features__heading {
    padding-left: 1em;
  }
  .project__specifiactions__left__wrapper_content {
    width: 100%;
  }
  .project__specifiactions {
    padding-left: 1em;
  }
  .introduction__section__right__weaper__svg_pic {
    padding: 0;
  }
  .introduction__section {
    padding-left: 1em;
  }
}
@media (max-width: 900px) {
  .project__specifiactions__left__wrapper {
    display: flex;
    width: 100%;
  }
}
.features__main__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
  width: 100%;
  animation: transitionIn 0.95s;
}
.features__sub__boxes {
  border: 1px solid #d1cfcf;
  border-top-right-radius: 80px;
  height: 100%;
  width: 48%;
}
.features__content__container {
  margin-left: 14.5em;
  padding: 2em 0;
  z-index: 999;
}
.features__heading {
  font-size: 33px;
  font-weight: 700;

  width: 100%;
  text-transform: uppercase;
}
.feature__text__background__light {
  background: #efefef;
  border-top-right-radius: 80px;
  font-size: 15px;
  font-weight: 500;
  margin: 1em 0;
  padding: 1em 2em;
  width: 105%;
  z-index: 999;
}
.feature__text {
  font-weight: 800;
}
.feature__text__background__light {
  background: #efefef;
  border-top-right-radius: 80px;
  font-size: 15px;
  font-weight: 500;
  margin: 1em 0;
  padding: 1em 2em;
  width: 105%;
}
.features__sub__boxes {
  width: 50%;
}
.features__theme__bg {
  float: right;
  height: 350px;
  width: 100%;
}
.features__main__container {
  max-width: 1920px;
  margin: 0 auto;
  right: 0;
  left: 0;
  margin-top: 4em;
  margin-bottom: 4em;
}

.feature__text__background__light:hover {
  background-color: #bc993d;
  color: white;
}
.introduction__section__left__weaper_heading {
  max-width: 1440px;
  margin: 0 auto;
}
.long__distance__first__mian {
  max-width: 1920px;
  margin: 0 auto;
}
.long__distances__first__svg__content__main {
  display: flex;
}
.svg__container {
  width: 6%;
  height: 70px;

  align-items: center;
  padding-top: 0.3em;
  padding-left: 0.7em;
  margin-left: 3em;
}
.features__sub__boxes {
  width: 50%;
}

.content__container {
  border: 1px solid transparent;
  width: 20%;
  height: 70px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 1860px) {
  .location__finder__content {
    left: -78px !important;
  }
  .location__main {
    margin-left: 0 !important;
  }
  .location__finder__content {
    width: 90% !important;
  }
}
@media (max-width: 1670px) {
  .features__content__container {
    margin-left: 8em;
  }
  .location__finder__footer__button button {
    width: 100% !important;
  }
  .location__finder__content {
    left: -2px !important;
    padding-left: 2em;
  }
  .components__container__content__heading__underline {
    left: 12% !important;
  }
}
@media (max-width: 1570px) {
  .features__content__container {
    margin-left: 4em;
  }
}
@media (max-width: 1470px) {
  .features__content__container {
    margin-left: 2em;
  }
  .footer__icons__list {
    flex-wrap: wrap !important;
  }
  .footer__columms {
    width: 48% !important;
    margin-bottom: 3em;
  }

  .foter__colum {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  .features__main__container {
    flex-direction: column;
  }
  .features__sub__boxes {
    width: 100%;
  }
  .features__content__container {
    margin-left: 0em;
    width: calc(100% - 6em);
  }
}
@media (max-width: 850px) {
  .footrer__img__container img {
    display: none;
  }
}
@media (max-width: 1250px) {
  .location__finder__footer {
    flex-direction: column;
  }
  .location__finder__footer__button button {
    width: 20% !important;
  }
  .location__finder__footer__button {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.components__main__container {
  height: 300px;

  margin-top: 4em;
  margin-bottom: 4em;
}
.components__main__container__bg__dark {
  background: #efefef;
  border-top-right-radius: 80px;
  height: 150px;
  position: relative;
  width: 95%;
}
.max__class {
  max-width: 1440px;
  margin: 0 auto;
}
.components__main__container__bg__boarder {
  border: 1px solid #d1cfcf;
  border-top-right-radius: 80px;
  font-size: 20px;
  font-weight: 700;
  height: 143px;
  position: absolute;
  text-transform: uppercase;
  top: -10px;
  width: 100%;
  z-index: 100;
}
.components__content__heading {
  height: inherit;
  padding: 3em 3em 3em 10em;
}
.components__container__content__heading__underline {
  background: #a58838;
  height: 0.7em;
  margin-top: -13px;
  width: 10%;
  bottom: -10;
  left: 16.5%;
  position: absolute;
}
.components__cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
  max-width: 1440px;
  margin: 0 auto;
  z-index: -1;
  position: relative;
}
.card__container {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: example;
  animation-name: example;
  cursor: pointer;
  height: 200px;
  position: relative;
  width: 23%;
}
.card__content__container {
  display: flex;
  position: relative;
}
.card__text {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  z-index: 100;
}
.card1__container__content__heading__underline {
  background: #ddbd6b;
  height: 0.5em;
  position: absolute;
  top: 0.4em;
  width: 4.3em;
}
.card__image {
  height: 70%;
  width: 90%;
  z-index: -1;
  animation: transitionIn 0.95s;
}

.card__container:hover {
  transform: scale(1.1);

  transition: all 0.5s;
}
.components__cards__container {
  padding-left: 5em;
  z-index: 999;
  padding-top: 2em;
}
.components__main__container__bg__border {
  text-align: center;
  width: 51%;
  font-weight: 600;
  font-size: 33px;
  z-index: 1;
  position: relative;
}
@media (max-width: 1400px) {
  .components__cards__container {
    flex-wrap: wrap;
    padding-left: 4em;
  }
  .card__image {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .card__container {
    width: 45%;
  }
  .components__main__container {
    height: 420px;
  }
}
@media (max-width: 750px) {
  .card__container {
    width: 55%;
  }
  .location__cards__main__ccontainer {
    display: flex;
    flex-direction: column;
  }
  .project__locations__cards__container {
    width: 80% !important;
  }
  .location__finder__footer__button {
    text-align: start;
    width: 70%;
    margin-left: 0em !important;
  }
  .location__finder__footer__button button {
    width: 50% !important;
  }
  .components__main__container {
    height: 830px;
  }
  .location__finder__content {
    right: unset !important;
    left: unset !important;
  }
}
@media (max-width: 650px) {
  .components__cards__container {
    padding-left: 2em !important;
  }
  .card__container {
    width: 70%;
  }
  .header__content__img img {
    width: 508px;
    height: 508px;
  }
  .header__content__img {
    top: 13% !important;
  }
  .project__specifiactions__left__wrapper {
    padding: 0;
  }
  .footer__columms {
    width: 100% !important;
  }
  .footer__icons__list__bottom {
    width: 100% !important;
  }
  .social__icon {
    width: 20% !important;
  }
  .nav__background {
    display: none;
  }
  .header__content__content__nav__main {
    display: flex;
    justify-content: space-between !important;
  }
}
@media (max-width: 370px) {
  .header__content__img img {
    height: 270px !important;
    width: 270px !important;
  }
  .header__content__img img {
    width: 100% !important;
  }
  .header__content__header__heading {
    font-size: 25px !important;
  }
  .header__content__header__sub__heading {
    font-size: 22px !important;
  }
  .header__content__header__sub__heading {
    top: 45% !important;
  }
}
@media (max-width: 440px) {
  .header__content__img img {
    height: 350px !important;
    width: 350px !important;
  }
}
@media (max-width: 500px) {
  .project__specs__boxes {
    margin-left: 0;
  }
  .header__content__img {
    top: 25% !important;
  }
  .intro__container__content__heading {
    padding-left: 0em !important;
  }
  .introduction__section__left__weaper_heading {
    font-size: 25px;
  }
  .header__content__header__heading {
    top: 40% !important;
  }

  .header__content__header__heading {
    font-size: 33px;
  }
  .header__content__header__sub__heading {
    font-size: 25px;
  }
  .header__content__img img {
    height: 410px;
    width: 410px;
  }
  .location__cards__main__ccontainer {
    margin: 0 !important ;
  }
  .project__location__main__container {
    padding-left: 0 !important;
  }
  .project__specs__boxes__border {
    width: 90%;
  }
  .location__text {
    padding: 0 !important;
  }
  .project__specs__boxes__dark {
    font-size: 23px;
  }
  .project__location__main__container {
    padding: 1em !important;
  }
  .project__locations__cards__container {
    width: 100% !important;
  }
  .location__finder__footer__button button {
    width: 100% !important;
  }
}
@media (max-width: 380px) {
  .header__content__content__nav__main {
    padding-left: 1em;
  }
  .header__content__nav__heading {
    font-size: 25px;
    padding-top: 1em;
  }
}
.intro__container__content__heading {
  font-size: 33px;
  font-weight: 700;
  padding-left: 1em;
  text-transform: uppercase;
}
.intro__container__content__heading__underline {
  background: #bc993d;
  height: 0.7em;
  margin-top: -20px;
  width: 6.4em;
}
.location__cards__main__ccontainer {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project__locations__cards__container {
  margin: 1em 0;
  width: 35%;
  margin-left: 4em;
}
.location__card {
  border: 1px solid #000;
  border-top-right-radius: 80px;
  display: flex;
  height: 100px;
  margin: 1em 2em 1em 0;
}
.location__logo__container {
  align-items: center;
  background: #bc993d;
  display: flex;
  justify-content: center;
  width: 40%;
}
.location__logo {
  height: 70px;
}
.location__text {
  align-items: center;
  border-top-right-radius: 80px;
  display: flex;
  padding-left: 2em;
  width: 60%;
}
.location__text span {
  font-weight: 700;
  margin: 0 0.2em;
}
.location__text:hover {
  color: white;
  background-color: black;
}
.project__location__main__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  align-items: center;
  animation: transitionIn 0.95s;
}
.intro__container__content__heading {
  max-width: 1440px;
  margin: 0 auto;
  width: 78%;
}

.features__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: hidden;
  position: relative;
  animation: transitionIn 0.95s;
}
.feature__bg__img {
  height: inherit;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100%;
  height: 500px;
}
.location__finder__heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 1em;
  text-transform: uppercase;
  position: absolute;
  color: white;
  top: 0;
  max-width: 1440px;
  right: 0;
  left: 4%;
  padding-top: 2em;
  margin: 0 auto;
}
.location__finder__heading__color {
  background: #ddbd6b;
  height: 0.7em;
  margin-top: -13px;
  width: 6.4em;
}
.location__finder__content {
  position: absolute;
  top: 17%;
  font-size: 16px;
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
  right: 0;
  left: -28px;
  color: white;
}
.location__first {
  width: 100%;
}

.location__finder__footer__main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  background-color: #a58838;
  color: white;
  height: fit-content;
  width: 70%;
}
.location__finder__footer {
  width: 100%;
  margin-right: 1em;
  display: flex;
  justify-content: space-between;
}
.location__main {
  background-color: #a58838;
  width: 75%;
  border-bottom-right-radius: 80px;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: -0.3em;
  padding: 1em;
  margin-right: auto;
  font-size: 16px;
  position: relative;
}
.location__main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 150%;
  left: -150%;
  top: 0;
  background-color: #a58838;
}
.location__finder__footer__button {
  margin-left: 4em;
  width: 100%;
  margin-top: 2em;
}
.location__finder__footer__button button {
  padding: 0.7em;
  background-color: #a58838;
  width: 65%;
  height: 44px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.location__finder__footer__button button:hover {
  background-color: #bc993d;
}
.footer__main__container {
  display: flex;
  width: 100%;
}
.footer__icons__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5em;
  margin-top: 5em;
}
.footer__columms {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 18%;
}
.footer__Content__heading {
  font-size: 18px;
}
.footer__columms {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  width: 18%;
}
.left__border {
  border-left: 5px solid #d4ab41;
  height: 150px;
}
.footer__Links__tilte {
  font-size: 16px;
  font-weight: 600;
}
.footer__Link {
  color: #000;
  font-size: 16px;
  margin: 0.8em 0;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__Link:hover {
  color: #d4ab41;
  text-decoration: underline;
  cursor: pointer;
}
.footer__Link__mail {
  font-size: 14px;
  padding: 0.5em 0;
}
.footer__mail__input__box {
  background: #f5f5f5;
  border-radius: 20px;
  display: flex;
  margin-top: 1em;
  width: 100%;
}
.footer__mail__input {
  background: #f5f5f5;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 1em;
  width: 85%;
  outline: none;
}
.footer__input__button {
  background: #d9af42;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 0.8em;
  width: 21%;
  stroke: white;
  fill: white;
}
.footer__icons__list__bottom {
  border-top: 1px solid #000;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 1em;
}
.social__icon {
  width: 10%;
}
.footrer__img__container {
  display: flex;
  align-items: flex-end;
}
.footer__right__img {
  height: 150px;
  width: 150px;
  float: right;
}
.footer__main__container {
  max-width: 1920px;
  margin: 0 auto;
}
